html {
    height: 100%;
  }
  
  body {
    margin: 20px;
    justify-content: center;
    background-color: rgb(213, 225, 228);
  }
   
  #game-board {
    display: block;
    border: black;
  }
   
  #player-guess-row {
    background-color: cadetblue;
    border: 1px solid;
    display: flex;
    padding: 10px;
  }
  
  .guess {
    width: 120px;
    height: 140px;
    margin: 15px;
    cursor: pointer;
    background-color: bisque;
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid;
  }
  
  
  #option-row {
    background-color: thistle;
    border: 1px solid;
    display: flex;
    padding: 10px;
  }
  
  .option {
    width: 120px;
    height: 130px;
    padding: 3px;
    cursor: pointer;
    background-color: aliceblue;
    display: block;
    border: 3px solid;
    font-size: smaller;
  }
  
  img {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
  }

  #start {
    margin: 20px;
  }

  #answer-button {
    margin: 20px;
    display: none;
  }

  #start button {
    margin: 20px;
  }

  h2 {
    justify-content: center;
    align-items: center;
  }

  .hidden {
    display: none;
  }