html {
    height: 100%;
  }
  
  body {
    margin: 20px;
    justify-content: center;
    background-color: rgb(213, 225, 228);
    font-size: 19px;
  }

  h2 {
    text-align: center;
    margin: 30px;
  }
   
  #game-board {
    display: block;
    border: black;
  }
   
  #player-guess-row {
    background-color: cadetblue;
    border: 1px solid;
    display: flex;
    padding: 10px;
    margin: 20px;
  }
  
  .guess {
    width: 130px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    background-color: bisque;
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid;
    border-radius: 5px;
  }
  
  
  #option-row {
    background-color: thistle;
    border: 1px solid;
    display: flex;
    padding: 10px;
    margin: 20px;
  }
  
  .option {
    width: 120px;
    height: 140px;
    padding: 5px;
    cursor: pointer;
    background-color: aliceblue;
    display: block;
    border: 3px solid;
    font-size: 16px;
    border-radius: 5px;
  }
  
  img {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border-radius: 10px;
  }

  #start {
    margin: 20px;
  }

  #answer-button {
    margin: 20px;
    display: none;
  }

  h2 {
    justify-content: center;
    align-items: center;
  }

  .hidden {
    display: none;
  }

  button {
    height: 30px;
    width: auto;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    border: 1px solid gray;
    box-shadow: 2px 2px gray;
    border-radius: 5px;
  }

  input {
    height: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px gray;
  }

  #number-of-guesses {
    margin-right: 40px;
    font-weight: bold;
    float: right;
    font-size: 22px;
  }

  #result {
    margin: 20px;
    font-weight: bold;
  }

  #user-message-element {
    margin: 20px;
  }