html {
    height: 100%;
  }
  
  body {
    margin: 20px;
    justify-content: center;
  }
  
  .boxes {
    height: 20px;
    width: 20px;
    border: black;
    border-width: 10px;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
  }
  
  #game-board {
    display: block;
    border: black;
  }
  
  .boxrow {
    display: flex;
    border: black;
  }
  
  #player-row {
    background-color: cadetblue;
    border: 10px black;
    display: flex;
  }
  
  .player-guess {
    width: 30px;
    height: 30px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: bisque;
    display: inline-block;
  }
  
  
  #option-row {
    background-color: darkorchid;
    border: 10px black;
    display: flex;
  }
  
  .option {
    width: 30px;
    height: 30px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: aliceblue;
    display: inline-block;
  }
  
  img {
    width: 25px;
    height: 25px;
    background-color: lightgreen;
  }