:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.boxes {
  height: 20px;
  width: 20px;
  border: black;
  border-width: 10px;
  display: inline-block;
  font-size: 30px;
  margin: 20px;
}

#game-board {
  display: flex;
  border: black;
}

.boxrow {
  display: flex;
  border: black;
}